<%= form_with(model: @list, url: list_path, local: true) do |form| %>
  <div class="content">
    <%= form.label :content %>
    <%= form.text_field :content %>
  </div>
  <%= form.submit %>
<% end %>
