
<h1>TOP<h1>

<p><%= notice %></p>

<table border=1>
  <tr>
    <th>投稿内容</th>
  </tr>

  <% @lists.each do |list| %>
  <tr>
    <td><%= link_to list.content,list_path(list.id) %></td>
  </tr>
  <% end %>
</table>

<%= link_to "投稿画面", new_list_path %>