* {
  margin: 0px;
  padding: 0px;
}

body {
  width: 100vw;
  height: 100vh;
  background-color: whitesmoke;
}
.header {
  background-color: blue;
  width: 100%;
  height: 5rem;
}


.header_image {
  float: left;
}

.footer {
  background-color: deeppink;
  margin: 0;
}

.footer h1{
  margin: 0;
}

table {
  margin: auto;
  width: 20rem;
  border-spacing: 10px;
  background-color: white;
}

.table_round {
  max-height: 100%;
  overflow: auto;
}

table td {
  background-color: white;
  border: solid 1px black;
}


.content_list {
  overflow: scroll;
}

.content {
  width: 100%;
}

label {
  float: left;
}

td {
  margin: 10px;
}

th {
  border: none;
}

.notice {
  background-color: darkgrey;
}

.button {
  display: inline-block;
    padding: 0.5em 1em;
    text-decoration: none;
    background: #668ad8;/*ボタン色*/
    color: #FFF;
    border-bottom: solid 4px #627295;
    border-radius: 3px;
}

.button:active {
  -ms-transform: translateY(4px);
  -webkit-transform: translateY(4px);
  transform: translateY(4px);
  border-bottom: none;
}

a:-webkit-any-link {
  color: black;
  text-decoration: none;
}