.header {
   background-color: blue;
   height: 50px;
}

.header_image {
  background-color: black;
  float: left;
}

.footer {
  background-color: deeppink;
}

table {
  margin: 10px auto;
  background-color: aquamarine;
}