<!DOCTYPE html>
<html>
  <head>
    <title>Tclone</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    
  </head>

  <body>
    <div class="container">
    <header class = "header">
      <h1>Tclone</h1>
    </header>
    <%= yield %>
    <footer class = "footer">
      <h1>Copyright © 2018 DIVE INC All RIGHTS RESERVED.</h1>
    </footer>
    </div>
  </body>
</html>
